body {
  font-family:

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.avatar {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
