body {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  color: #3E3E40;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
}

/*Remove underlining from all links*/
a {
  text-decoration: none;
}

/*Style the links*/
a:link {
  color: #3E3E40;
}

a:visited {
  color: #3E3E40;
}

a:hover {
  color: #EC8382;
}

a:active {
  color: #3E3E40;
}

/*Style the links inside the navigation bar*/
.topnav a:link {
  color: #B5D9F7;
  padding-right: 20px;
}

.topnav a:visited {
  color: #B5D9F7;
}

.topnav a:hover {
  color: #EC8382;
}

.topnav a:active {
  color: #B5D9F7
}

/*Styling other*/

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: small;
}

p {
  font-size: small;
  text-align: center;
}

.logo {
    width: 35px;
    float: left;
    padding-left: 20px;
}

/*Top navigation*/
.topnav {
  float: left;
  width: 100%;
  background-color: white;
}

.topnav-right {
  float: right;
  align: center;
}

.avatar {
  width: 160px;
  display: block;
  filter: grayscale() contrast(98%) brightness(102%);
  margin-left: auto;
  margin-right: auto;
}

.white-very-small-color-block {
  padding: 10px;
}

.white-small-color-block {
  padding: 20px;
}

.white-medium-color-block {
  padding: 40px;
}

.blue-large-color-block {
  background-color: #B5D9F7;
  padding: 200px;
  margin: 0px;
}


.main-paragraphs {
  font-size: small;
  text-align: center;
}

.columns {
  width: 15%;
  float: left;
}

.contact-color-block {
  background-color: #B5D9F7;
  margin: 0px;
}
.social-media {
  width: 35px;
  padding: 10px;
}
